<widget id="A0000000000001"  version="0.0.1">
    <name>ModuleDemo</name>
    <description>A sample of APICloud module extension.</description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="GrowingIO">
        <param name="android_accountId" value="9926fc6c1189e2fb"/>
        <param name="android_urlScheme" value="growing.ab223c268c1d5639"/>
        <param name="debug" value="true"/>
    </feature>
</widget>
